* {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    
}

header {
 
 background-color: white;

 
}

.nav img {
    width: 100px;
    height: 100px;
   margin-left: 15px;
}

body {
    background-color:rgb(8, 67, 95);
    width: 100%;
    margin: 0%;
    box-sizing: border-box;
    
}

main {
    display: flex;
    margin-left: 80px;
    margin-bottom: 50px; 
}

.input-text {
    margin-top: 180px;
    margin-left: 30px;
    background-color:rgb(8, 67, 95);
    border-color: transparent;
    color: rgb(255, 255, 255);
   }

textarea:focus, input:focus, select:focus {
    outline: 0;
}

.information {
    display: flex;
 
   }
 
  
 .text {
     font-size: 15px;
     color: rgb(190, 222, 238);
     font-weight: 800;
     margin-left: 30px;
      
 }

.mensage  {
    position: relative;
    margin-top: 100px;
    margin-left: 60px;
    background-image: url(/img/imgsearch.png);
    background-position: center;
    background-size: 350px;
    background-position-y: 150px;
    background-repeat: no-repeat;
    width: 350px;
    height:600px;
    padding: 20px;
    border-radius: 30px;
    border-color: transparent;
   text-align:end;
text-orientation: end;

}

.button {
    display: flex; 
    flex-direction: row;
    margin-top: 20px; 
    margin-bottom: 0%;
}

.button p {
   font-size:16px;

}

.encriptor {
    background-color: #d37509;
    color: white;
    width: 332px;
    border-radius: 24px;
    border-color: white;
    margin-left: 30px;
    cursor: pointer;
       
}

.button :hover {
   background-color: rgb(28, 133, 171);
   
}

.button .encriptor :hover {
    color:white;
    border-color:rgb(28, 133, 171);
    font-size: 17px;
   
  }

.descriptor {
    margin-left: 30px;
    background-color: rgb(248, 241, 241);
    color: #d37509;
    border-radius: 24px;
    width: 332px;
    border-color: #d37509;
    cursor: pointer;
  }

  .button .descriptor :hover {
   color:white;
    font-size: 17px;
    border-color:antiquewhite
  
 }
 .output h5 {
     margin-bottom: 0%;
     background-color:white;
 }


#copy {
font-size:.5rem;
font-weight: 800px;
padding: .3rem;
padding-left:.5rem;
padding-right:.5rem;
border-radius:.3rem;
justify-content:center;
background-color: rgb(28, 186, 243);
border-color: #ffffff;
color: #743f03;
display: inline-block;
cursor: pointer;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin-left: 7rem;
}

#copy:hover {
    background-color: #fc8a09;
    color:white
}



.author {
    padding: .5rem;
    background-color: white;
    text-align: center;
    width: 100%;
}

.author p{
    font-size:.5rem;
    color: #d37509;
}

